// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 15px !default;

$text-color : #7b858b;
$link-color: #a4a9b5;
$headline-color: #4d515c;
$link-hover-color: #1abc9c;
$link-hover-decoration: none;

$section-bg: #f5f8fa;