/* Themify Customize Styling */
body {
	/*display: none;*/
	background-color: #292929;
}

#body {
	background-color: white;
}

h1 {
	font-family: Open Sans;
	font-weight: bold;
	font-size: 80px;
}

h2 {
	font-family: Open Sans;
	font-weight: normal;
	color: #4d4d4d;
}

.text-363-0-0-0.module-text h1,
.text-363-0-0-1.module-text p {
	text-shadow: 2px 2px 100px black;
	color: white!important;
}

#headerwrap {
	background-color: #3b3b3b;
	/*transition: background-color 300ms ease;*/
	/*
		background-color: #948f8f;
		background: none;
	*/
}

#headerwrap.fixed-header {
	background-color: #292929;
	transition: background-color 300ms ease;
	/*background-color: #5F3F3F;*/
}

#header {
	background: none;
	font-weight: 100;
	text-transform: uppercase;
	height:55px;
/*
	background-color: #948f8f;
	font-size: 9px;
	line-height: 1px;
*/

}

/*
	body[class*="themify"] #site-logo img {
		width: 40px;
		height: 40px;
	}
*/

#site-logo {
	position: relative;
/*

	top: -13px;
	right: 11px;
	left: -22px;
*/
}

#site-description {
	line-height: 50%;
}

#main-nav {
	position: relative;
	height:55px;
/*
	height: 3px;
	padding: -44px;
*/
}

#main-nav a {
	font-family: Open Sans;
	font-weight: 300;
	font-size: 16px;
	padding: 8px;
	height: calc( 55px - 16px );
	line-height: calc( 55px - 16px );
}

#main-nav a,
#main-nav > li > a,
.transparent-header #main-nav a {
	color: #ffffff;
}

#main-nav-wrap #main-nav a:hover,
#main-nav-wrap #main-nav > li > a:hover {
	color: #e6e6e6;
}

#main-nav-wrap #main-nav .current_page_item > a,
#main-nav .current-menu-item > a,
#main-nav > .current_page_item > a,
#main-nav > .current-menu-item > a {
	color: #ffffff;
}

#main-nav-wrap #main-nav .current_page_item a:hover,
#main-nav .current-menu-item a:hover {
	color: #e6e6e6;
}

#footerwrap {
	background: none;
	background-color: #292929;
}

#footer {
	color: #ffffff;
}

#footer a {
	color: #ffffff;
}

#site-logo {
	margin-top:0;
	margin-left:0;
	margin-right:0;
	margin-bottom:0;
}

#site-logo a {
	display:inline-block;
	position:relative;
	width:50px;
	height:50px;
	transform: translateY(2px);
}

#site-logo a img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

/*
@media screen and (max-width:1280px) {
	body[class*="themify"] #site-logo img {
		width: 40px;
		height: 40px;
	}
}

@media screen and (max-width:768px) {
	body[class*="themify"] #site-logo img {
		width: 40px;
		height: 40px;
	}
}

@media screen and (max-width:680px) {

	body[class*="themify"] #site-logo img {
		width: 40px;
		height: 40px;
	}

}
*/
